<launch>
    <!-- Controller for drone's X axis -->
    <node name="controller" pkg="pid" type="controller" ns="left_motor" output="screen" >
      <param name="node_name" value="left_motor_pid" />
      <param name="Kp" value="1.4" />
      <param name="Ki" value="0.18" />
      <param name="Kd" value="0.0" />
      <param name="upper_limit" value="1" />
      <param name="lower_limit" value="-1" />
      <param name="windup_limit" value="10" />
      <param name="cutoff_frequency" value="2" />
      <param name="diagnostic_period" value="0.025" />
      <param name="max_loop_frequency" value="12.0" />
      <param name="min_loop_frequency" value="8.0" />
     </node>
    
     <!-- Controller for drone's Y axis -->
    <node name="controller" pkg="pid" type="controller" ns="right_motor" output="screen" >
      <param name="node_name" value="right_motor_pid" />
      <param name="Kp" value="1.4" />
      <param name="Ki" value="0.18" />
      <param name="Kd" value="0.0" />
      <param name="upper_limit" value="1" />
      <param name="lower_limit" value="-1" />
      <param name="windup_limit" value="10" />
      <param name="cutoff_frequency" value="2" />
      <param name="diagnostic_period" value="0.025" />
      <param name="max_loop_frequency" value="12.0" />
      <param name="min_loop_frequency" value="8.0" />
     </node>

    <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
      <rosparam command="delete" param="/diagnostic_aggregator" />
      <rosparam command="load" file="$(find pid)/config/pid_diags.yaml" />
    </node>


	 <!-- Node for Twist to Motors -->
	 	<node pkg="odom_speed" type="twistToMotors.py" name="twistToMotors"/>
	 
	 <!-- Node for Serial Communication with Teensy -->
		<node pkg="rosserial_python" type="serial_node.py" name="serial_node" >
			<param name="port" value="/dev/ttyACM1"/>
		</node>
			 
   <!-- rqt_plot is a resource hog, so if you're seeing high CPU usage, don't launch rqt_plot  -->
    <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
    args=  "/left_motor/control_effort/data /left_motor/state/data /left_motor/setpoint/data
            /right_motor/control_effort/data /right_motor/state/data /right_motor/setpoint/data" />

    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />

    <node name="rqt_robot_monitor" pkg="rqt_robot_monitor" type="rqt_robot_monitor" />

</launch>
